#logo{
    width: 150px;
    height: 30px;
}
.nav-item:hover{
    font-size: 20px;
    font-weight: bolder;
    color: yellow !important;
}

.footer{
    bottom: 0 !important;
    left: 0;
}
.fa{
    color: white !important;
    padding-right: 15px;

}
.fa:hover{
    color: yellow  !important;
}
#brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.social{
    text-align: center;
    border-bottom: 1px solid white;
}
.active{
    color: red !important;
    font-size: 20px;
}
.self-footer{
    text-align: center;
    background-color: rgb(88, 87, 85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-top: 1px solid white;
}
#links >  li > a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
#links >  li > a:hover{
    color: yellow;
    font-size: 20px;
    font-weight: bold;
}
.border-1{
    border-bottom: 1px solid white;
}
.link2{
    color: white;
    text-decoration: none;
}
.link2 >  li > a{
    text-decoration: none;
    color: white;
}
.link2 >  li > a:hover{
    color: yellow;
    font-size: 20px;
    font-weight: bold;
}
#demo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin-left: 250px;
}
#image1{
    margin-left: 70px;
}
.border-2{
    border-bottom: 1px solid black;
    text-align: center;
}
.link-3{
    color: red !important;
}
#heading1{
    text-align: center;
    border-bottom: 1px solid red;
}